<html>
    <head>
        <title>error :( | dendrite-invite</title>
        <link rel="stylesheet" href="/static/pico.min.css">
    </head>
    <body>
        <main class="container">
            <h2>Uh oh! Something went wrong.</h2>
            <b>Here's what we know:</b> <br>
            <code>
                {{ error }}
            </code>
        </main>
    </body>
</html>