<html>
    <head>
        <title>error! | dendrite-invite</title>
    </head>
    <body>
        <div>
            <h2>So sorry!</h2>
            <p>An error occured! The message was: {{ error }}</p>
        </div>
    </body>
</html>