<html>
    <head>
        <title>invitation! | dendrite-invite</title>
        <link rel="stylesheet" href="/static/pico.min.css">
    </head>
    <body>
        <main class="container">
            <h2>You have been invited to {{ instanceName }}!</h2>

            <form action="/invite/{{ inviteCode }}/register" method="post">
            
                <label for="username">
                    <input type="text" class="username" id="username" placeholder="Username" required>
                </label>

                <label for="displayname">
                    <input type="text" class="displayname" id="displaymame" placeholder="Display Name">
                </label>

                <label for="password">
                    <input type="password" name="password" id="password" class="password" placeholder="Password" required>
                </label>

                <label for="password2">
                    <input type="password" name="password2" id="password2" class="password2" placeholder="Confirm password" required>
                </label>

                <button type="submit">Register</button>

            </form>
        </main>
    </body>
</html>