<html>
    <head>
        <title>invitation! | dendrite-invite</title>
        <link rel="stylesheet" href="/static/pico.min.css">
    </head>
    <body>
        <main class="container">
            <h2>You have been invited to {{ instanceName }}!</h2>
            <b> {{ inviter }}  has invited you to chat on Matrix</b> <hr>

            {{#if error}}
                <article>
                    Could not register. <br>
                    <code>
                        {{ error }}
                    </code>
                </article>
            {{/if}}

            <form action="/invite/{{ inviteCode }}/register" method="post">
            
                <label for="username">
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </label>

                <label for="displayname">
                    <input type="text" id="displaymame" placeholder="Display Name (Optional)">
                </label>

                <label for="password">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </label>

                <label for="password2">
                    <input type="password" name="password2" id="password2" placeholder="Confirm password" required>
                </label>

                <button type="submit">Register</button>

            </form>
        </main>
    </body>
</html>