<html>
    <head>
        <title>invalid invite :( | dendrite-invite</title>
        <link rel="stylesheet" href="/static/pico.min.css">
    </head>
    <body>
        <main class="container">
            <h2>Invalid invite</h2>
            <p>
                The invite link is invalid. It may have revoked, or never existed to begin with. <br>
                Try asking your inviter for another link. <br>
                If the issue persists, please contact an administrator. <br>
            </p>
        </main>
    </body>
</html>