<html>
    <head>
        <title>expired invite :( | dendrite-invite</title>
        <link rel="stylesheet" href="/static/pico.min.css">
    </head>
    <body>
        <main class="container">
            <h2>Expired invite</h2>
            <p>
                The invite link has expired. <br>
                Try asking your inviter for another link. <br>
                If you believe this is an error, pleast contact and administrator. <br>
            </p>
        </main>
    </body>
</html>